
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dormee! 🏢</title>
 	<link rel="stylesheet" type="text/css" href="/static/tailwindoutput.css">
  <link rel="stylesheet" type="text/css" href="tailwindoutput.css">
</head>
<body class="h-screen bg-softWhite px-[7.5%] md:px-[20%]">
    <div class="w-full h-full bg-gray-400 flex flex-col place-items-center">
      <!-- Header -->
      <section class="relative flex h-[7.5vh] bg-blue-300">
        <h1 class="font-poppins">LOCATION name</h1>
      </section>
      <!-- Page content -->
      <section class="">
        
      </section>
      <!-- Navbar -->
      <section class="">
        
      </section>
    </div>
</body>
</html>